.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.content {
  width: 1000px;
  border: 1px solid #69306d;
  border-bottom: none;
  padding: 10px;
  margin: 0 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f9f9f9;
}

@media (max-width: 1200px) {
  .content {
    width: 800px;
    padding: 10px;
    margin: 0 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
@media (max-width: 992px) {
  .content {
    width: 600px;
    padding: 6px;
    margin: 0 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}
@media (max-width: 767px) {
  .main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .content {
    width: 100%;
    padding: 6px;
    margin: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
