.accordion {
  margin-bottom: 8px;
  & .titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
    align-items: center;
    border-bottom: 1px solid var(--secondary);
    margin-bottom: 4px;

    & .title {
      text-align: center;
      color: var(--text);
      font-size: 18px;
    }
    & .toolbar {
      font-size: 14px;
      color: var(--secondary);
      padding: 2px;
      vertical-align: middle;
      display: flex;
      & div {
        cursor: pointer;
        padding: 0 4px;
        margin: 0 2px;
        &:hover {
          color: var(--primary);
        }
      }
      & svg {
        font-size: 20px;
        vertical-align: middle;
      }
    }
  }
}
