.accordion {
  margin-bottom: 8px;
  & .titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
    align-items: center;
    border-bottom: 1px solid var(--secondary);
    margin-bottom: 4px;

    & .title {
      text-align: center;
      color: var(--text);
      font-size: 18px;
    }
    & .toolbar {
      font-size: 14px;
      cursor: pointer;
      color: var(--secondary);
      padding: 2px;
      vertical-align: middle;
      & svg {
        vertical-align: middle;
      }
    }
  }
}
