$background: "#f9f9f9";
$text: "#2d2d2d";
$primary: "#69306d";
$onPrimary: "#f9f9f9";
$secondary: "#999999";
$errorText: "#a94442";
$errorBackground: "#fdc1ba";
$divider: "#eeeeee";
$beat: "#0000ff";
$plunk: "#000077";
$isFavoriteColor: "#ff0000";
$isCompliteColor: "#00bb00";
$isDownloadedColor: "#7777ff";
