.scheme {
  border-radius: 4px;
  padding: 4px;
  font-size: 1em;
  background-color: white;
  font-size: 1em;
  margin: 0 4px 4px 0;
  & .title {
    margin: 0;
    text-align: center;
    color: blue;
  }
}
