:root {
  /* light theme colors */
  --background: #f9f9f9;
  --text: #2d2d2d;
  --primary: #69306d;
  --onPrimary: #f9f9f9;
  --secondary: #999999;
  --errorText: #a94442;
  --errorBackground: #fdc1ba;
  --divider: #eeeeee;
  --beat: #0000ff;
  --plunk: #000077;
  --isFavoriteColor: #ff0000;
  --isCompliteColor: #00bb00;
  --isDownloadedColor: #7777ff;
  --background-image: url(../assets/images/bg.jpg);
}

[data-theme="dark"] {
  /* dark theme colors */
  --background: #2d2d2d;
  --text: #e9e9e9;
  --primary: #896c8a;
  --onPrimary: #e9e9e9;
  --secondary: #aaaaaa;
  --errorText: #f90000;
  --errorBackground: #eda19a;
  --divider: #000000;
  --beat: #7777ff;
  --plunk: #7777ff;
  --isFavoriteColor: #990000;
  --isCompliteColor: #007700;
  --isDownloadedColor: #7777ff;
  --background-image: url(../assets/images/darkbg.jpg);
}

[data-theme="red"] {
  /* dark theme colors */
  --background: #2d2d2d;
  --text: #f9f9f9;
  --primary: #ed424d;
  --onPrimary: #f9f9f9;
  --secondary: #cccccc;
  --errorText: #f90000;
  --errorBackground: #eda19a;
  --divider: #000000;
  --beat: #ed424d;
  --plunk: #ed424d;
  --isFavoriteColor: #990000;
  --isCompliteColor: #007700;
  --isDownloadedColor: #7777ff;
  --background-image: url(../assets/images/darkbg.jpg);
}
