.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  color: var(--text);

  & .foreign_links {
    padding: 4px;
    border-radius: 4px;
    & .socials {
      display: flex;

      justify-content: space-between;
      align-items: center;
      font-size: 53px;
      background-color: var(--background);
      padding: 4px;
      border-radius: 4px;

      & svg {
        display: block;
      }
    }
  }

  & .internal_links a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--primary);
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 8px;
    & .foreign_links {
      & img {
        height: 40px;
        width: 136px;
      }
      & .socials {
        font-size: 40px;
      }
    }
  }
}
