.navigation {
  & a {
    color: var(--primary);
    font-size: 28px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-family: SpriteGraffiti;
    &.active {
      color: var(--text);
    }
    &:hover {
      color: var(--text);
    }
  }
}

@media (max-width: 1200px) {
  .navigation {
    & a {
      font-size: 24px;
      padding: 8px;
      margin: 8px;
    }
  }
}
@media (max-width: 992px) {
  .navigation {
    & a {
      font-size: 18px;
      padding: 6px;
      margin: 6px;
    }
  }
}
@media (max-width: 767px) {
  .navigation {
    flex-wrap: wrap;
    & a {
      font-size: 14px;
      padding: 2px;
      margin: 2px;
    }
  }
}
