.lesson_head {
  & h1 {
    font-family: SpriteGraffiti;
    margin: 0;
    padding: 10px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 28px;
    color: var(--primary);
  }
}

.horizontal_row {
  display: flex;
  flex-direction: row;
  overflow: auto;

  & iframe {
    margin: 0 10px;
  }
}

@media (max-width: 767px) {
  .lesson_head {
    & h1 {
      padding: 4px;
      font-size: 16px;
    }
    & iframe {
      max-width: 100%;
    }
  }
}
